 <div class="home">
    <header>
      <h1 class="heading">ScatterBrain<img class="logo" src="/stylesheets/logoscatterbrain.svg" type="image/svg+xml" alt=""></h1>
  <nav class="subject-buttons-container">
    <a href="/" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect " title="Return to Subjects" id="">
      <i class="material-icons">home</i>
    </a>
   <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect " title="Add a Resource" id="add-resource">
    <i class="material-icons">add</i>
  </button> 
  
   <button id="logout" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect " title="Log Out">
    <i class="material-icons">logout</i>
  </button>
  </nav>
    </header>
    <main class="field">
     
       {{#if posts.length}}
        {{#each posts}}
           <div class="resource-card mdl-card mdl-shadow--2dp ">
             <div class="mdl-card__title">
               <a href="{{post_url}}" target="_blank"><i class="material-icons">link</i></a>
              <h2 class="mdl-card__title-text">{{title}}</h2>
              </div>
             <div class="mdl-card__supporting-text">
               {{notes}}
             </div>
             <div class="mdl-card__menu">
              <a href="/edit/posts/{{id}}/{{subject_id}}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="edit-resource">
                <i class="material-icons">edit</i>
              </a>
            </div>
           </div>
           {{/each}}
        {{else}}
        
            <p>
                Add Resources to your Subject
            </p>
        </div>
        {{/if}}
    <!--Add Resource modal-->
    <div id="add-resource-modal" class="add-resource-modal">

      <!-- Modal content -->
      <div class="modal-content">
         
        <span id= "close-add-resource" class="close">&times;</span>
        <form action="#" class="new-post-form">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="" name="post-url">
            <label class="mdl-textfield__label" >Paste URL...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="" name="post-title">
            <label class="mdl-textfield__label" >Add Title...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="4" id="" name="notes"></textarea>
            <label class="mdl-textfield__label" >Add Notes...</label>
          </div>
          <button id="new-resource-submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect " title="Submit" type="submit">
           <i class="material-icons">add</i>
         </button> 
        </form>
      
      </div>
    
    </div>
        
     </div>
    <!-- edit/delete modal-->
    {{!-- <div id="edit-resource-modal" class="edit-resource-modal">

      <!-- Modal content -->
      <div class="modal-content">
         
        <span id="close-edit-resource" class="close">&times;</span>
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="">
            <label class="mdl-textfield__label" >Edit URL...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="">
            <label class="mdl-textfield__label" >Edit Title...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows="4" id=""></textarea>
            <label class="mdl-textfield__label" >Edit Notes...</label>
          </div>
        </form>
        <button class="mdl-button mdl-js-button mdl-button--raised">
         Save
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised">
          Delete Resource
        </button>
      </div>
    
    </div> --}}
        
     </div>
  
    </main>
    
    <script src="/javascript/subjectModal.js"></script>
    <script src="/javascript/add-resource.js"></script>
    <script src="/javascript/logout.js"></script>